
// ---------------------------------------------------
// Palette colours
// ---------------------------------------------------

$black:     #000;
$white:     #fff;
$red:       #f00;
$green:     #0f0;
$blue:      #00f;

$testing:   #ff0000 #00ff00 #0000ff;

