extends /views/layout

block content
    h1 Body copy

    h2 Intro paragraph

    h3 Preview

    .intro Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, suscipit alias quas asperiores maxime officiis neque nostrum omnis aliquid dolore iure iusto nihil consequatur voluptatem quae ratione doloremque eveniet! Harum.

    h2 Paragraph

    h3 Preview

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, suscipit alias quas asperiores maxime officiis neque nostrum omnis aliquid dolore iure iusto nihil consequatur voluptatem quae ratione doloremque eveniet! Harum.

