doctype html
html
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            link(href="/css/styles.css", rel="stylesheet")
            link(href="/css/master.css", rel="stylesheet")
            title Styleguide
    body
        nav
            ul
                each section in navigation 
                    li.nav-heading= section.name
                    each component in section.sections
                        li
                            a(href="/styleguide/#{section.name}/#{component}")= component

        #content
            block content

