doctype html
html
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            link(href="/css/styles.css", rel="stylesheet")
            link(href="/css/master.css", rel="stylesheet")
            title Styleguide
    body
        nav
            ul
                li.nav-heading Components
                li
                    a(href="/components/form/button") Buttons
                li
                    a(href="/components/views/alerts") Alerts
                li.nav-heading Typography
                li
                    a(href="/styleguide/typography/headings") Headings
                li
                    a(href="/styleguide/typography/bodycopy") Body copy
        #content
            block content

