body {
    font-family: 'NexusSans', 'Helvetica Light', 'Helvetica', 'Arial' ,sans-serif;
    font-size: 1.25rem;
    color: #323232;
    -moz-osx-font-smoothing: grayscale;
}

.colours {
    list-style: none;
    padding: 0;
}

.colour {
    display: inline-block;
    width: 150px;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 1px #abc;
}

.colourSwatch {
    border: 1px solid grey;
    text-align: center;
    padding: 20px 0;
}

.dark {
    color: #fff;
}

.code {
    border: 1px solid #969696;
    padding: 0.667rem;
}

.component-data {
    margin: 1rem 0;
    padding: 1rem;
    background: #FBFCFD;
    border: 1px solid #DEE2E6;
    overflow: scroll;
}

