extends ../layout

block content
    h1.section-heading Nexus Sans Pro
    h1 Primary header (h1)
    h2 Secondary header (h2)
    h3 Tertiary header (h3)
    h4 Quaternary header (h4)
    h5 Quinary header (h5)
    h6 Senary header (h6)

