
each item in items
  .preview
    h2= item.section_title

    h3 Preview
    p!= component('form/button', item.data)

    h3 HTML code
    code= component('form/button', item.data)

    h3 Component call
    pre component('form/button', #{jsonFormat(item.data)})

