extends /views/layout

block content
    h1 Alerts

    p A (feedback) message is rendered in its dedicated section element with one of four classes; the Information message has a section classname messaging-info, the Confirmation message a classname messaging-confirm, the Warning message a classname messaging-warning and the Danger message a classname messaging-danger. The height is defined by the content of the message with the width defined by the message’s parent container."

    - var stubs = styleguide_stubs(slug)

    .normal
        each section in stubs
            != styleguide_component(slug, section)

